<div class="jumbotron">
    <h3>Company Database</h3>
    <p>An implementation of a three tier based MVC app with a microsoft sql backend.</p>
    <img src="~/Content/Images/ThreeTierChart.png" />
</div>

<div class="row">

    <div>
       @Html.ActionLink("Products", "Index", "Product", new { area = "" }, new { @class = "navbar-brand" })
       @Html.ActionLink("Employees", "Index", "Employee", new { area = "" }, new { @class = "navbar-brand" })
       @Html.ActionLink("Shipments", "Index", "Shipment", new { area = "" }, new { @class = "navbar-brand" })
    </div>
</div>